* {
  /* outline: 1px dotted rebeccapurple; */
  margin: 0px;
  padding: 0%;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: black;
  width: 100%;
}

header {
  background-color: #ad521f;
  min-height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1514931181523-5fc9ac41ea38?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1671&q=80');
  vertical-align: center;
  align-content: center;
  vertical-align: middle;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  text-decoration: none;
  color: red;
  font-size: 2rem;
  margin: 20px 80px;
}

header nav ul li:hover {
  font-weight: bold;
}

header nav ul {
  margin: 0 auto;
  display: block;
}

.container {
  /* background-color: rgba(255, 255, 255, 0.37); */
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 30px;
}

.container:hover {
  /* background-color: rgba(255, 255, 255, 0.37); */
  color: white;
}

h1 {
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  font-size: 5rem;
  text-align: center;
  padding-top: 0px;
  text-shadow: 20px 0px 30px red;
}

h2 {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 3rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.541);
  line-height: 1.8;
}

p:first-child {
  color: white;
}

p {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 12px;
  text-align: center;
  color: white;
  line-height: 1.8;
}

.misProyectos {
  background-color: black;
  padding-top: 50px;
  padding-bottom: 30px;
  height: 150px;
  margin-top: 150px;
}

.misProyectos h2 {
  color: #ff0000;
  font-size: 3rem;
}

.experiencia {
  background-color: white;
  padding-bottom: 40px;
  padding-top: 40px;
  margin: 150px 0px;
  position: relative;
  width: 100%;
  text-justify: center;
  justify-content: center;

}

.experiencia h2 {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 50px;
}

.experiencia .btn {
  text-align: center;
  color: white;
  background-color: rgb(255, 0, 0);
  padding: 10px 30px;
  cursor: pointer;
  border: none;
  font-size: 1.5rem;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
}

.experiencia .btn:hover {
  text-align: center;
  color: white;
  background-color: rgb(143, 0, 0);
}


nav ul {
  list-style-type: none;
  position: fixed;
  display: inline-block;
  text-align: center;
  line-height: 1.5;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 20px 0px 0px 30px;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
}

footer nav ul {
  list-style-type: none;
  padding: 0px 80px 0px 80px;
  font-size: 3em;
  color: white !important;
}

footer nav li {
  float: left;
  padding: 20px 70px 20px 70px;
  text-align: center;
}

footer {
  padding-top: 50px;
  background-color: #000000;
  color: white;
  height: 300px;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: white;
  margin: 0 20px;
}

footer a:hover {
  color: red;
}



.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  /* opacity: 0.3; */
  overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}